Q1. List any five functions of the pandas library with execution.

In [4]:
import pandas as pd

# Read data from a CSV file into a DataFrame
df = pd.read_csv("C:\\Users\\Khan Mokhit\\Downloads\\data (1).csv")
print(df.head())  # Display the first few rows of the DataFrame

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [5]:
print(df.head())  # Display the first few rows of the DataFrame

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

In [9]:
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [10]:
df.isna().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [13]:
import pandas as pd

data = {'A':[3,8,6,2,9],
        'B':[5,2,9,3,1],
        'C':[1,7,4,5,2]}

df = pd.DataFrame(data)
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [15]:
# Now we are able to build the function

def reindex_df(df):
    # Reset the index of the DataFrame starting from 1 and incrementing by 2
    new_index = pd.Index(range(1, len(df) * 2, 2), name='New_Index')
    df = df.reset_index(drop=True)
    df.index = new_index
    return df

new_df = reindex_df(df)
new_df

           A  B  C
New_Index
1          3  5  1
3          8  2  7
5          6  9  4
7          2  3  5
9          9  1  2

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [22]:
data = {"Values":[10,20,30,40,50]}

df = pd.DataFrame(data)

df

   Values
0      10
1      20
2      30
3      40
4      50

In [27]:
def sumdf(x):
    
    if 'Values' in df.columns :
        
        first_three_values = df["Values"].iloc[:3]
        
        sum = first_three_values.sum()
        
        print("The sum of first three values is",sum)
        
    else:
        print("The column is not present in the data")

        
sumdf(df)

The sum of first three values is 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [43]:
data = {"Text":['Virat','Rohit Sharma','M S Dhoni']}

df = pd.DataFrame(data)
df

           Text
0         Virat
1  Rohit Sharma
2     M S Dhoni

In [44]:
def wcount(x):
    
    if 'Text' in df.columns :
        
        for i in "Text" :
            
            df['word_count'] = df['Text'].apply(lambda x : len(x.split()))
        return df

        
wcount(df)

           Text  word_count
0         Virat           1
1  Rohit Sharma           2
2     M S Dhoni           3

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size returns the total number of elements (rows * columns) in the DataFrame, 

while DataFrame.shape returns a tuple representing the dimensions of the DataFrame (rows, columns).

Q6. Which function of pandas do we use to read an excel file?

pd.read_excel()

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [39]:
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com', 'robert.green@example.com']}
df = pd.DataFrame(data)

def username(df, email_col = 'Email'):
    
    if email_col in df.columns :
        
        df["User_Name"] = df['Email'].str.split("@").str[0]
        
        return df
    
    else :
        
        print("The given column is not in the dataset")
        
username(df)

                      Email     User_Name
0      john.doe@example.com      john.doe
1    jane.smith@example.com    jane.smith
2  robert.green@example.com  robert.green

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [47]:
import pandas as pd

data = {'A':[3,8,6,2,9],
        'B':[5,2,9,3,1],
        'C':[1,7,4,5,2]}

df = pd.DataFrame(data)
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [51]:
def filtered(x):
    
    filtered_df = df[(df["A"] > 5) & (df["B"] < 10)] # df[(df['A'] > 5) & (df['B'] < 10)]
    
    return filtered_df

filtered(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [52]:
data = {"Values":[10,20,30,40,50]}

df = pd.DataFrame(data)

df

   Values
0      10
1      20
2      30
3      40
4      50

In [61]:
import pandas as pd
import numpy as np

data = {"Values": [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

def measures(x):
    return np.mean(x), np.median(x), np.std(x)

# Extract the 'Values' column from the DataFrame and pass it to the measures function
mean_val, median_val, std_val = measures(df['Values'])

print("Mean:", mean_val)
print("Median:", median_val)
print("Standard Deviation:", std_val)

Mean: 30.0
Median: 30.0
Standard Deviation: 14.142135623730951

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [62]:
import pandas as pd

# Example DataFrame
data = {'Date': pd.date_range(start='2022-01-01', periods=30),
        'Sales': [100, 120, 130, 110, 150, 140, 160, 180, 170, 190,
                  200, 210, 220, 230, 240, 250, 260, 270, 280, 290,
                  300, 310, 320, 330, 340, 350, 360, 370, 380, 390]}
df = pd.DataFrame(data)

def calculate_moving_average(df, window_size=7):
    # Calculate moving average using a rolling window
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    return df

# Call the function to calculate moving average with a window size of 7
result_df = calculate_moving_average(df, window_size=7)
print(result_df[['Date', 'Sales', 'MovingAverage']])

         Date  Sales  MovingAverage
0  2022-01-01    100     100.000000
1  2022-01-02    120     110.000000
2  2022-01-03    130     116.666667
3  2022-01-04    110     115.000000
4  2022-01-05    150     122.000000
5  2022-01-06    140     125.000000
6  2022-01-07    160     130.000000
7  2022-01-08    180     141.428571
8  2022-01-09    170     148.571429
9  2022-01-10    190     157.142857
10 2022-01-11    200     170.000000
11 2022-01-12    210     178.571429
12 2022-01-13    220     190.000000
13 2022-01-14    230     200.000000
14 2022-01-15    240     208.571429
15 2022-01-16    250     220.000000
16 2022-01-17    260     230.000000
17 2022-01-18    270     240.000000
18 2022-01-19    280     250.000000
19 2022-01-20    290     260.000000
20 2022-01-21    300     270.000000
21 2022-01-22    310     280.000000
22 2022-01-23    320     290.000000
23 2022-01-24    330     300.000000
24 2022-01-25    340     310.000000
25 2022-01-26    350     320.000000
26 2022-01-27    360     330.000000
27 2022-01-28    370     340.000000
28 2022-01-29    380     350.000000
29 2022-01-30    390     360.000000

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [63]:
import pandas as pd

# Example DataFrame
data = {'Date': pd.date_range(start='2023-01-01', periods=5)}
df = pd.DataFrame(data)

def add_weekday_column(df, date_col='Date', weekday_col='Weekday'):
    # Check if the specified date column exists in the DataFrame
    if date_col in df.columns:
        # Extract weekday names from the date column and store in the new 'Weekday' column
        df[weekday_col] = df[date_col].dt.day_name()
        return df
    else:
        print(f"Error: '{date_col}' column not found in the DataFrame.")

# Call the function to add the 'Weekday' column
result_df = add_weekday_column(df)
print(result_df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [64]:
import pandas as pd

# Example DataFrame
data = {'Date': pd.date_range(start='2023-01-01', end='2023-02-28')}
df = pd.DataFrame(data)

def filter_by_date_range(df, start_date, end_date, date_col='Date'):
    # Check if the specified date column exists in the DataFrame
    if date_col in df.columns:
        # Convert start_date and end_date strings to datetime objects
        start_date = pd.to_datetime(start_date)
        end_date = pd.to_datetime(end_date)
        # Filter rows based on the date range
        filtered_df = df[(df[date_col] >= start_date) & (df[date_col] <= end_date)]
        return filtered_df
    else:
        print(f"Error: '{date_col}' column not found in the DataFrame.")

# Call the function to filter rows by date range
start_date = '2023-01-01'
end_date = '2023-01-31'
result_df = filter_by_date_range(df, start_date, end_date)
print(result_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is pandas itself. You import pandas using the following import statement:

import pandas as pd


Here, pd is an alias commonly used for pandas, making it easier to refer to pandas functions and objects in your code. Once you have imported pandas, you can use its various functions and methods to work with DataFrame and Series objects for data manipulation and analysis in Python.