Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [7]:
import pandas as pd 

data = [4, 8, 15, 16, 23, 42]
ser = pd.Series(data)
ser

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [8]:
list = [1,2,3,4,5,6,7,8,9,0]

print(pd.Series(list))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [11]:
data = { "Name" : ["Alice","Bob" , "Charlie"] ,
        "Age" : [25,30,27] ,
        "Gender" : ["Female" , "Male" , "Female"] }

df = pd.DataFrame(data )

df

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame: A DataFrame in Pandas is a 2-dimensional labeled data structure resembling a table or spreadsheet. It has rows and columns, where each column can have a different data type. DataFrames are used to store and manipulate structured data, similar to a database table.

Series: A Series in Pandas is a 1-dimensional labeled array-like structure. It represents a single column of data or a single variable. Series are used for array-like operations and can hold any data type.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [12]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Male']}
df = pd.DataFrame(data)

# Example 1: Viewing the first few rows
print(df.head())

# Example 2: Summary statistics
print(df.describe())

# Example 3: Filling missing values
df.loc[2, 'Age'] = None  # introduce a missing value
print(df.fillna(df['Age'].mean()))  # fill missing Age values with mean

# Example 4: Grouping and aggregating data
print(df.groupby('Gender')['Age'].mean())  # average age by gender

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27    Male
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000
      Name   Age  Gender
0    Alice  25.0  Female
1      Bob  30.0    Male
2  Charlie  27.5    Male
Gender
Female    25.0
Male      30.0
Name: Age, dtype: float64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Out of Series, DataFrame, and Panel, DataFrame is the mutable data structure in Pandas.

Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series in Pandas, you can combine these Series into a single DataFrame using the pd.DataFrame() constructor. Each Series will correspond to a column in the resulting DataFrame.

In [13]:
import pandas as pd

# Create multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Male'])

# Create DataFrame using the Series
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Gender': genders
})

# Print the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27    Male