Consider following code to answer further questions:

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration =  [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:

import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']

duration =  [2,3,6,4]

df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [12]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [13]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is used for label-based indexing (index labels or column names), while iloc is used for integer-based indexing (integer positions).

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df 
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [17]:
reindex = [3,0,1,2] 

df = df.reindex(reindex)

df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

Consider the below code to answer further questions:

import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) 	mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [32]:
import pandas as pd

import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']

indices = [1,2,3,4,5,6]

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.298951  0.103358  0.368470  0.679737  0.037441  0.822802
2  0.873780  0.033891  0.641583  0.096685  0.611592  0.017177
3  0.658702  0.083044  0.593914  0.597095  0.392237  0.215501
4  0.572166  0.049385  0.798055  0.276934  0.231465  0.089699
5  0.513212  0.625613  0.338259  0.483318  0.266641  0.015897
6  0.456166  0.037688  0.119439  0.211203  0.787457  0.458403

In [22]:
df1.describe()

       column_1  column_2  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.830837  0.654415  0.595278  0.331146  0.307858  0.684949
std    0.173561  0.312555  0.256508  0.127309  0.188589  0.186683
min    0.506969  0.149033  0.230939  0.197447  0.008426  0.471848
25%    0.798978  0.485917  0.415429  0.240906  0.219511  0.519621
50%    0.891943  0.819293  0.645914  0.309073  0.346281  0.701102
75%    0.930008  0.862131  0.786875  0.385481  0.401807  0.848814
max    0.983478  0.887671  0.876440  0.542149  0.548589  0.878462

In [23]:
df1.mean()

column_1    0.830837
column_2    0.654415
column_3    0.595278
column_4    0.331146
column_5    0.307858
column_6    0.684949
dtype: float64

In [25]:
df1["column_2"].std()

0.31255521166976113

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the 
mean of column, column_2.

If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [34]:
df1.loc[2, 'column_2'] = 'string'

In [37]:
# df1['column_2'].std()

In this problem the error is occuring because of the string value which we entered in the dataset. We can only find the standard deviation of numeric values of columns if there is any of the single value is string then we can not find the standard deviation of that column as we saw in the above problem

Q6. What do you understand about the windows function in pandas and list the types of windows 
functions?


In pandas, window functions are used for performing calculations over a specific subset or "window" of data points in a DataFrame. These functions allow you to calculate statistics or apply operations based on a rolling or expanding window of data.

Q7. Write a code to print only the current month and year at the time of answering this question.

[Hint: Use pandas.datetime function]

In [38]:
import pandas as pd
from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Extract the month and year from the current date
current_month = current_datetime.month
current_year = current_datetime.year

print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 4
Current Year: 2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and 
calculates the difference between them in days, hours, and minutes using Pandas time delta. The 
program should prompt the user to enter the dates and display the result.
Did you observe any difference in both the outputs? If so then explain it.

In [ ]:
import pandas as pd

# Input dates from the user
start_date_str = input("Enter the start date (YYYY-MM-DD): ")
end_date_str = input("Enter the end date (YYYY-MM-DD): ")

# Convert input strings to pandas datetime objects
start_date = pd.to_datetime(start_date_str)
end_date = pd.to_datetime(end_date_str)

# Calculate the time difference
time_diff = end_date - start_date

# Extract days, hours, and minutes from the time difference
days_diff = time_diff.days
hours_diff = time_diff.seconds // 3600  # 3600 seconds in an hour
minutes_diff = (time_diff.seconds // 60) % 60  # 60 seconds in a minute

# Display the result
print(f"Difference in days: {days_diff} days")
print(f"Difference in hours: {hours_diff} hours")
print(f"Difference in minutes: {minutes_diff} minutes")

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the column name to convert to categorical data type: ")
category_order = input("Enter the category order (comma-separated, e.g., 'Low,Medium,High'): ").split(',')

# Read the CSV file
df = pd.read_csv(file_path)

# Convert the specified column to categorical data type with the specified category order
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort the DataFrame based on the categorical column
sorted_df = df.sort_values(by=column_name)

# Display the sorted data
print("Sorted Data:")
print(sorted_df)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Assuming the CSV file has columns: 'Date', 'Product', and 'Sales'
# Convert the 'Date' column to datetime format if it's not already in datetime
df['Date'] = pd.to_datetime(df['Date'])

# Group by 'Date' and 'Product', summing up the sales for each product on each date
grouped_df = df.groupby(['Date', 'Product']).sum().unstack(fill_value=0)

# Plot the stacked bar chart
fig, ax = plt.subplots(figsize=(10, 6))
grouped_df.plot(kind='bar', stacked=True, ax=ax)
ax.set_xlabel('Date')
ax.set_ylabel('Sales')
ax.set_title('Stacked Bar Chart of Sales by Product Over Time')
plt.xticks(rotation=45)  # Rotate x-axis labels for better visibility
plt.legend(title='Product')
plt.tight_layout()
plt.show()